<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
               <title>The Crud test</title>
    </head>
        <body>
            <div class="ui fixed inverted pointing menu">
                <div class="ui container">
                     <a class="item" href="#"></a>
                  <a href="/crud"class="item"> Home </a>
                  <a href="/crud/new"class="item"> New Crud </a>
                  <a href="/crud/controles"class="item"> Cpanel </a>
                      <div class="right menu">
                    <a class="ui item"> Logout </a>
                      </div>
                </div>
            </div>    
                    <div class="ui segment">
                      <p></p>
                    </div>