<% include partials/header %>
    
    <div class="ui main text container big inverted form segment">
    <div class="ui huge header">Edit A CRUD</div>
        <form class="ui big form"action="/crud/<%=cruds._id%>?_method=PUT" method="POST">
            <div class="field">
                <label>Title of crud</label>
                <input type="text" name="crud[title]" pattern=".{3,}" required value="<%=cruds.title%>" ></input>
            </div>
            <div class="field">
                <label>Author of crud</label>
                <input type="text" name="crud[author]" pattern=".{3,}" required value="<%=cruds.author%>" ></input>
            </div>
            <div class="field">
                <label>Body of the crud</label>
                <textarea name="crud[body]" pattern=".{3,}" required ><%=cruds.body%></textarea>
            </div>
            
            <button class="ui inverted big button green" type="submit">Crud</button>
        </form>
    </div>
</div>
    
<% include partials/footer %>